.footer {
  position: static;
  background-color: rgba(255,255,255,.5);
  width: 100%;
  padding: 1rem 0;
  p {
    font-family: $font-stack-mono;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
  }
  &.sticky {
    position: absolute;
    bottom: 0;
  }
  @media screen and (max-width: 576px) {
    p {
      font-size: .7rem;
    }
  }
}
