//background
.background-image {
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/cloud-bg2.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  z-index: -3;
}
.background-filter {
  width: 100%;
  height: 100%;
  background-image: radial-gradient( white 50%, $light-1a, $light-2a );
  background-attachment: fixed;
  position: fixed;
  z-index: -2;
}
.background-texture {
  width: 100%;
  height: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQYV2NkQAL/GRgaGGF8KAciAOOA2IzIHJAAAPCrB4Rj81dwAAAAAElFTkSuQmCC) repeat;
  background-attachment: fixed;
  position: fixed;
  z-index: -1;
}
.card {
  margin:30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.no-shadow {
  box-shadow: none;
}
.no-border {
  border: none;
}
.blockquote, .citation {
  font-size: .9rem;
  font-style: italic;
  text-align: justify;
  color: $med-2;
  padding: 0 5rem;
}
.citation {
  text-align: right;
  font-weight: 300;
}
.horizontal-scroll {
  overflow: scroll;
}
