.cloud-banner {
  width: 100%;
  img {
    width: 100%;
  }
}
.navbar-light .navbar-toggler-icon {
  background-image: url("/assets/img/hamburger-icon.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.navbar {
  margin-bottom: 30px;
}
