$light-1: #f49ac1;
$light-1a: lighten( rgba($light-1,.5), 30% );
$light-2: #7da7d9;
$light-2a: lighten( rgba( $light-2, .5 ), 30% );

$med-1: #ed145b;
$med-2: #8560a8;

$dark-1: #4b0049;
$dark-2: #4b0018;
